# Medialane Backend ENV

STARKNET_NETWORK="mainnet"
MARKETPLACE_CONTRACT_MAINNET="0x0234f4e8838801ebf01d7f4166d42aed9a55bc67c1301162decf9e2040e05f16"
COLLECTION_CONTRACT_MAINNET="0x05c49ee5d3208a2c2e150fdd0c247d1195ed9ab54fa2d5dea7a633f39e4b205b"
INDEXER_START_BLOCK=6204232

ALCHEMY_RPC_URL=
VOYAGER_API_KEY=

PINATA_JWT=
PINATA_GATEWAY=

DATABASE_URL=
PORT=3000
API_SECRET_KEY=
CORS_ORIGINS=

INDEXER_POLL_INTERVAL_MS=6000
INDEXER_BLOCK_BATCH_SIZE=500

CHIPIPAY_API_KEY=
CHIPIPAY_API_URL=

LOG_LEVEL="info"
